html * {
  font-family: "Patrick Hand SC", "Cambria", "Cochin", Georgia, Times,
    "Times New Roman", serif !important;
}

header {
  text-align: center;
  background-color: #ffffff;
  background-image: url("mjheader.jpg");
  background-repeat: no-repeat;
  background-size: 1000px;
  height: 200px;
  border-radius: 10px;
  width: 95%;
  margin: 0 auto;
}

.active {
  background: #01d2f7;
  background-image: linear-gradient(#ffffff, #ababab88);
}

body {
  background-color: #aef2fc;
  background-image: linear-gradient(to right, #fd7d9b, #c38af7);
  font-family: "Patrick hand sc", Georgia, "Times New Roman", Times, serif;
}

h1,
h2,
h3 {
  color: #000000;
}

nav a {
  color: #3f4546;
  background-image: linear-gradient(#ababab88, #ffffff);
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  background-color: #ffffff88;
  text-align: center;
  line-height: 30px;
  width: 15%;
  height: 30px;
  border: 2px solid #c5c7c5;
  border-radius: 12px;
  margin-top: 160px;
}
a:hover {
  background-color: #040404;
  color: #000000;
}

a:focus {
  background-color: #0006cc;
  color: #ff6767;
}
.centerheader {
  text-align: center;
  margin-top: 30px;
}

.right {
  display: block;
  width: 30%;
  top: 310px;
  box-shadow: 10px;
  background-color: #ffffff80;
  position: absolute;
  right: 20px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
  padding: 5px;
  margin: 20px;
}
/* section {
  margin: 20px;
  font-size: 110%;
} */
aside {
  width: 60%;
  margin-left: 20px;
  font-size: 110%;
}

.left {
  margin-bottom: 20%;
}
.spaced {
  margin-top: 50px;
}
.photoshows {
  height: 40vh;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 5px;
}

footer {
  clear: both;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 60%;
  border-radius: 10px;
}

.photo {
  width: 200px;
  height: 200px;
  margin: 10px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
}

.photo:hover {
  transform: scale(2.5);
  transition-delay: 1s;
  transition-duration: 0.5s;
}

.allphotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index {
  width: 450px;
  float: left;
  margin: 60px;
}

.content {
  width: 92%;
  margin: 30px;
  font-size: 130%;
  background-color: #dcdedc99;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.photohome {
  width: inherit;
  margin: auto;
  display: block;
  border-radius: 5px;
}

.photohomebottom {
  height: 90%;
  margin: auto;
  display: block;
  border-radius: 5px;
}

/* .index {
  height: 77vh;
  width: 98%;
  margin: 50%, 20px;
  display: block;
  font-family: "Patrick Hand SC", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: 25px;
} */

.newspaper {
  margin-top: 20px;
  margin-left: 5%;
  width: 90%;
}

.center {
  width: 400px;
  margin: 10px auto;
  margin-top: 10px;
  display: block;
}

.letter {
  border-radius: 10px;
  margin-top: 15px;
  height: 300px;
  width: 400px;
}

.contact {
  margin-right: 25%;
  width: 400px;
  height: 300px;
  display: block;
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffffff88;
}

.mySlides {
  height: 300px;
  width: 300px;
  box-shadow: 5px 5px 10px grey;
  border-radius: 10px;
  object-fit: cover;
  float: right;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 20px;
}

.res1 {
  margin-bottom: 300px;
}
.art1 {
  background-image: url("../images/art1.jpg");
  min-height: 400px;
}
.art2 {
  background-image: url("../images/art2.jpg");
  min-height: 400px;
}
.art3 {
  background-image: url("../images/art3.jpg");
  min-height: 400px;
}
.art1,
.art2,
.art3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.inline {
  display: inline;
}
